# ***Decision Tree Algorithm***
## Using biryani.csv

In [1]:
# import libraries
import pandas as pd
# load data frame df
df = pd.read_csv('biryani.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

# Replace the categorical data with numeric data

In [2]:
df['gender'] =  df['gender'].replace("Male",1)
df['gender'] =  df['gender'].replace("Female",0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

# Selection of input and output variables

In [3]:
X = df[['weight', 'gender']]
y = df['likeness']

In [4]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [5]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

# Create and fit our model &  Predict

In [6]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier().fit(X,y)
model.predict([[18,0]])

array(['Biryani'], dtype=object)

# Check the accuracy of the model
## Split the data into training and testing sets
### Create and fit our model
#### Prediction
##### Check the accuracy of the model

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2) # 80% training and 20% testing
model= DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
predictions
accuracy_score(y_test,predictions)

0.6530612244897959

# How to train and save the model

In [8]:
from  sklearn.tree import DecisionTreeClassifier
import joblib
model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model, 'biryani_model.joblib')

['biryani_model.joblib']

# How to import/run a stored or save model in our data

In [9]:
from sklearn.tree import DecisionTreeClassifier
model = joblib.load('biryani_model.joblib')
model.predict([[18,0]])

array(['Biryani'], dtype=object)

# Create a graph of the decision tree
## Graphic evaluation of the model

In [10]:
from sklearn import tree
tree.export_graphviz(model,out_file='tree.dot',feature_names=['age','gender'],class_names=sorted(y.unique()),label='all', rounded=True, filled=True
)